{
    mail => {
        from     => 'eq@equiz.me',
        type     => 'text/html',
        how      => 'sendmail'
    },

    file_manager  => {
        root_dir => '../eq_storage/file_manager',
    },
    user_manager  => {
        admin_confirm => 0,
        email_confirm => 0,
        admin_email   => 'eq@equiz.me',
        site_url      => 'http://localhost:3000',
        captcha       => 1,
    },
    recaptcha => {
        public_key  => '6LcMF9ASAAAAANnyAnLMsi5OiVOFrI79PsgKracU',
        private_key => '6LcMF9ASAAAAAO-D3EQkF7O68R1l4sexlbSGC4jb',
        theme       => 'white'
    },
    gravatar => {
        default => 'http://equiz.me/static/img/equizavatar.jpg'
    },
    hypnotoad => {
        listen  => [ 'http://*:8080' ],
        workers => 4
    },
    eq => {
        default_files_dir => '', # if empty then will copy files from $APP_ROOT/deploy/samples
        intro_files_dir   => '', # if empty then will copy files from $APP_ROOT/deploy/intro
        site_url          => 'http://localhost:3000',
    },
    model => {
        instructors_root => '../eq_storage/file_manager',
        storage_driver => 'dbi',
        storage_root => '../eq_storage/user_manager',
        storage_db => {
            dsn      => 'dbi:mysql:eq',
            username => 'root',
            password => '',
            params   => {
                RaiseError           => 1,
                mysql_auto_reconnect => 1,
                mysql_enable_utf8    => 1,
            }
        }
    }
}